<!DOCTYPE HTML>
<html>
<head xmlns:th="http://www.thymeleaf.org">
	<title>Eliga Alta Alumno o Cursos</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/enlace.css">
</head>
<body>
	<div class="seccion">
		<img src="img/logoCapgemini.png">
		<br><br><br>
		<p align="center"><a class="alumnos"href="/altaalumno">Alta de Alumnos</a></p>
		<br><br><br> 
		<p align="center"><a class="cursos" href="/buscarcurso">Buscar Cursos</a></p>
	</div>
</body>
</html>